<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="template/fonts/icomoon/style.css">
	<link rel="stylesheet" href="template/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{template/icomoon/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{template/css/owl.carousel.min.css}" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{template/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="template/css/bootstrap.min.css">

	<!-- Style -->
	<link rel="stylesheet" href="template/css/style.css">
	<link rel="stylesheet" type="text/css" th:href="@{template/css/style.css}" />
	


	<title>Inicio</title>

</head>

<body>


	<aside class="sidebar">
		<div class="toggle">
			<a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
				<span></span>
			</a>
		</div>
		<div class="side-inner">

			<div class="logo-wrap">
				<div class="logo">
					<span>C</span>
				</div>
				<span class="logo-text">Colorlib</span>
			</div>

			<div class="search-form">

			</div>
			<div class="nav-menu">
				<ul>
					<li class="active"><a href="/inicio" class="d-flex align-items-center"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
					<li><a href="/libros" class="d-flex align-items-center"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Libros</span></a></li>
					<li><a href="/autores" class="d-flex align-items-center"><span class="wrap-icon icon-user mr-3"></span><span class="menu-text">Autores</span></a></li>
					<li><a href="/editoriales" class="d-flex align-items-center"><span class="wrap-icon icon-university mr-3"></span><span class="menu-text">Editoriales</span></a></li>
					<li><a href="/generos" class="d-flex align-items-center"><span class="wrap-icon icon-pie-chart mr-3"></span><span class="menu-text">Generos</span></a></li>
					<li><a href="/inventario" class="d-flex align-items-center"><span class="wrap-icon icon-shopping-cart mr-3"></span><span class="menu-text">Inventario</span></a></li>
				</ul>
			</div>
		</div>

	</aside>

	<!-- Contenido -->

	<main>
		<div class="site-section">
			<div class="container">
				<div class="row justify-content-center">

					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Libros</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="/libros" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Autores</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="/autores" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row pt-3">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Editoriales</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="/editoriales" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Generos</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="/generos" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row pt-3">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Inventario</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="/inventario" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Special title treatment</h5>
									<p class="card-text">With supporting text below as a natural lead-in to additional
										content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div> -->
					</div>

				</div>
			</div>
		</div>
	</main>

	<script src="template/js/jquery-3.3.1.min.js"></script>
	<script src="template/js/popper.min.js"></script>
	<script src="template/js/bootstrap.min.js"></script>
	<script src="template/js/main.js"></script>


</body>
</html>